.types-list-container {
    width: 100%;
    min-width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 1%;
    
    .selected-type-arrow {
        margin-left: 2%;
    }
}