$navbar-dark-color: white;
$navbar-dark-hover-color: lightgray;
$nav-link-color: white;
$nav-link-hover-color: lightgray;
$list-group-color: white;
$list-group-bg: black;
$list-group-border-color: white;


/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";